<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  </head>
  <style>

  </style>
  <body>
    <div class="w3-container w3-teal" style="position: relative;">
      <div style="float: left;">
        <a href="/"><h1><%= title %></h1></a>
      </div>

      <div style="float: right; position: absolute; right: 0; bottom: 0px;">
        <button class="w3-bar-item w3-button" onclick="openCity('London')">
          เข้าสู่ระบบ
        </button>
        <button class="w3-bar-item w3-button" onclick="openCity('Paris')">
          สมัครสมาชิก
        </button>
        <button class="w3-bar-item w3-button" onclick="openCity('Tokyo')">
          ติดต่อเรา
        </button>
      </div>
    </div>
    <div class="con900">
      <h1>ติดต่อที่</h1>
      <table>
        <tr>
          <td>เบอร์โทร</td>
          <td>099-123-4567</td>
        </tr>
        <tr>
          <td>อีเมล</td>
          <td>Poofbook@gmail.com</td>
        </tr>
        <tr>
          <td>Facebook</td>
          <td>Facebook.com/Poofbook</td>
        </tr>
        <tr>
          <td>Line</td>
          <td>@Poofbook</td>
        </tr>
      </table>
    </div>

    <!-- <p>ยินดีต้อนรับสู่ร้าน หนัง-สือ-สู !!!</p> -->
  </body>
</html>
